[2017-05-12 18:27] nemesisdesign opened #1 "[requirements] Update django-allauth version"
Update django-allauth version to 0.32.x

[2017-05-15 14:54] #1 closed

[2017-08-07 16:19] nemesisdesign opened #3 "[admin] Allow operators to manage users without being able to change superuser related details"
Implement the solution proposed in the following stackoverflow question:

[How to create a user who can create another user but not grant permissions(only grant predefined group permissions) in django?](https://stackoverflow.com/questions/45459988/how-to-create-a-user-who-can-create-another-user-but-not-grant-permissionsonly/45545309#45545309)

[2017-08-07 16:23] #3 closed

[2017-11-11 13:58] nemesisdesign opened #4 "Add possibility to validate inverse relations"
Right now, we have an utility method called `_validate_org_relation`, which when added correctly used verifies that the organization of a related entity matches the current entity, for example:

**Ensuring a certificate is associated to the same organization of the related certification authority.**

This is cool, but then if we try to change organization on the Certification authority the system

[2017-12-16 14:58] gandhi23 opened #6 "Add compatibility with django 2.0 beta to openwisp-users"
Django 2.0 beta, the latest version of Django, is currently not compatible with openWISP 2. so django 2 must be made compatible with openWISP2. This is a part of a google code-in task: https://codein.withgoogle.com/tasks/6613208028676096/?sp-organization=5693741010518016.

[2017-12-23 20:07] nemesisdesign opened #17 "Add unit test for account URLs"
We should add a test that would have catched this bug:
https://github.com/openwisp/openwisp-users/pull/16

[2017-12-23 20:35] nemesisdesign commented on #6
This was done

[2017-12-23 20:35] #6 closed

[2018-01-30 03:10] AZtheAsian commented on #17
@nemesisdesign this test was added, I forgot to add the "fixes #17" task to my pull request (#18).

[2018-01-31 01:23] nemesisdesign commented on #17
@AZtheAsian thx for pointing it out

[2018-01-31 01:23] #17 closed

[2018-02-20 12:45] rohithasrk opened #20 "Pending migration checks fail"
When dealing with pending migrations, we see that this package exhibits unexpected behavior. As can be seen at #19. There are a couple of migration files which are generated each for django>=2.0 and django==1.11. Maybe we'll have to set a default max_length in our file to avoid this conflict, as we see that the migration is basically for setting the max_length for last_name of user. It is 30 in dj

[2018-02-20 13:11] rohithasrk commented on #20
One possible solution is to override the last_name field which has been implemented in #19. I feel that's cool enough.

[2018-03-10 07:07] ShubhamKushwah opened #22 "```pip install openwisp-users``` showing errors for python 2.7"
IOError: [Errno 13] Permission denied: '/Library/Python/2.7/site-packages/typing.pyc'

pip3 will do the work, I have created a pull request for the same.

[2018-03-10 08:18] ShubhamKushwah commented on #22
I think to grant the permission to change to that system folder we need to run this:

`
sudo chown -R $USER /Library/Python/2.7
`

[2018-03-10 08:30] ShubhamKushwah commented on #22
If issues are still there, it's probably because of El Captain Mac users.
This should work for them.

`
brew install python
`

[2018-03-10 10:39] nemesisdesign commented on #22
This is a system issue and not a code issue. Thanks for reporting.

[2018-03-10 10:39] #22 closed

[2018-06-20 10:39] nemesisdesign opened #23 "[admin] IntegrityError if trying to change an email that already exists"
- create an user
- create a second user with a different email address
- change the email of the second user to the email of the first user

Expected result: validation error in UI
Actual result: 500 internal server error (`IntegrityError`)

[2018-06-22 11:16] nemesisdesign commented on #23
The same happens also when trying to create a new user with an email address that is already taken.

[2018-07-25 22:06] AlmogCohen opened #24 "Integrating with external Django project"
While trying to follow the regular README for integrating into my existing Django app (which is based on Django 2.0) I had two problems. I'll write the solution . Let me know if you think it should be added to the repo README.

1. First I got weird whenever I tried to use `manage.py`:

[code]
**Solution**: Adding this to the `settings.py`:

    AUTH_USER_MODEL = 'openwisp_users.User'
(I found it i

[2018-07-26 09:23] nemesisdesign commented on #24
@AlmogCohen thanks for reporting this, could you send a patch to add these two additions to this section of the README? https://github.com/openwisp/openwisp-users#setup-integrate-in-an-existing-django-project

[2018-07-27 09:38] nemesisdesign commented on #24
Closed by #25, thank you @AlmogCohen

[2018-07-27 09:38] #24 closed

[2018-07-27 09:51] #20 closed

[2018-08-01 09:42] #23 closed

[2018-08-02 08:14] nemesisdesign opened #28 "[models] Ensure emails are unique"
~~I assumed that the default django user model had a unique constraint on the email field, but I was wrong.~~

~~We need to add this.~~

After further testing and thought I concluded that we can't do this or we won't be able to generate freeradius users with no email address.

We can't add a database constraint but we can add application validation logic which checks that if a user has an email se

[2018-08-07 14:19] anurag-ks commented on #28
![screenshot-2018-8-7 add user openwisp2 admin](https://user-images.githubusercontent.com/3973075/43781600-e354ed6c-9a7a-11e8-9f3d-8513b0c400f1.png)

But I wasn't able to add same email, while adding a new user.

[2018-08-07 17:08] nemesisdesign commented on #28
@anurag-ks that's because of @R9295's patch #26

[2018-09-14 12:42] nemesisdesign opened #29 "[organizations] Create default organization with a data migration"
We should create the default organization with a data migration.

Right now we rely on ansible-openwisp2 to do this but this solution implies the ansible role must be used. But openwisp2 or one of its derivative may be installed with a different strategy, having a data migration is a more robust solution.

There are a couple of catches though:

1. the default organization must be created only if n

[2018-09-28 10:50] nemesisdesign commented on #28
After further testing and thought I concluded that we can't do this or we won't be able to generate freeradius users with no email address.

We can't add a database constraint but we can add application validation logic which checks that if a user has an email set, no other user except him has the same email, otherwise raise a `ValidationError`.

[2018-09-28 11:06] nemesisdesign opened #31 "[groups] Add default "operator" and "admin" group"
We should add two default groups:

- "operator" will be the group with permissions to see the basic OpenWISP objects needed to manage an organization (although each default permission available in this group should be added by each openwisp2 module, for example, the controller should add to this group the permissions to edit devices and templates, the radius module should add to this group the per

[2018-09-28 11:15] nemesisdesign opened #32 "[admin] Allow non-superadmins to manage their own users"
Users which are not a superadmins but have permissions to edit users should work be able to do so in the following way:

- [x] should be able to see and edit users of the organizations they are member of
- [ ] should not be able to see `is_superuser` column in list
- [ ] should not be able to see `is_superuser` field in change form (now is readonly)
- [ ] should be able to add new users but only s

[2018-09-28 11:19] nemesisdesign opened #33 "[admin] Move custom login form from openwisp-controller"
I think the [custom login form in openwisp-controller](https://github.com/openwisp/openwisp-controller/blob/master/openwisp_controller/config/templates/admin/login.html) which allows to reset the password makes a lot more sense to be moved in this package since other modules may use openwisp-users and need the same feature but they may not need openwisp-controller.

[2018-09-28 14:13] nemesisdesign opened #34 "[admin] Only organizationuser objects which have admin=True should be able to manage their organization in the admin"
It could happen that a user which has `is_staff` set to `True` becomes member of another organization because he wants to use some service (implemented in other openwisp modules) of that organization as a user, but at the moment we can't let that happen because in the moment he become member of that organization he will also be able to edit the objects of that organization from the admin.

To solv

[2018-09-30 12:02] #29 closed

[2018-10-01 08:36] R9295 opened #48 "[admin] Show readonly id of organization"
**Reserved for GCI**

In order to authenticate with the API, you need to know the organization's id and it's token. The token is displayed, but the org id however, is not. Create a **read-only** field  in ```OrganizationAdmin``` that displays the org's id.

[2018-10-06 15:59] nemesisdesign opened #36 "[admin] Force selection of organization when a new user is created"
The user creation form should complain if an user is created without specifying an organization, unless the new user is a superuser (the `is_superuser` field should be added to this the user creation form).

We could use javascript to ensure the check, or maybe we can use the internal validation of django.

Only superusers can add other superusers, so the superuser checkbox should be shown/editabl

[2018-10-06 18:57] #36 closed

[2018-10-06 19:47] atb00ker commented on #32
1. Should an operator be allowed to create users without any organisation?
2. Should other organisations be visible to operators?
3. Should operator be allowed to see other organisation owners?
4. However users are not visible to operator from `User` list but still visible from `Organization users`, i think that's unintentional, right? i should implement `get_queryset` logic for `Organization user

[2018-10-07 16:05] nemesisdesign commented on #32
@atb00ker:

Premise, I forgot to tell you I found out this issue: https://github.com/openwisp/openwisp-utils/issues/14
I think it makes more sense to keep the multi-tenancy features (and their tests) in this module rather than openwisp-utils, keep in mind this when working on this issue because you may likely have to edit some of that code.

I was writing a very long reply but I wanted to shorten

[2018-10-12 17:04] OltarzewskiK commented on #34
Can I take this issue?

[2018-10-18 17:51] R9295 commented on #31
Ill take this up. Can't assign myself though.

[2018-10-18 18:04] nemesisdesign commented on #31
@R9295 :+1: I added you

[2018-10-18 18:06] nemesisdesign commented on #34
@OltarzewskiK yes you can :-)

[2018-10-18 18:17] OltarzewskiK commented on #34
@nemesisdesign Ok, I will try to get down work in weekend, but gci is coming soon, so after beginning of google code in I would like to focus on contest's tasks, so Can I send PR (if I won't finish it before gci) after competition?

[2018-10-19 15:13] nemesisdesign commented on #34
@OltarzewskiK up to you, there are no requirements in open source, contributors contribute when they can. If someone else comes up and can finish this issue before you do we shouldn't prevent them from doing so, because it's more important to fix the issue than who fixes it, I'll send you some suggestions via PM

[2018-10-20 19:59] nemesisdesign opened #39 "What to do with OrganizationOwner?"
I don't think we are using this model right now. But we may (I'd say we will) need it in the future.

I propose to investigate the feasibility of the following two things:

- connect a receiver to the post_save signal of OrganizationUser which automatically creates an `OrganizationOwner` if: `OrganizationUser.is_admin` and this is the first `OrganizationUser` being created for this org
- hide `Org

[2018-10-25 13:21] nemesifier opened #380 "[docs] Explain default permission groups (Admnistrator and Operator)"
Document what will be discussed and decided on this mailing list discussion:

[Default permisions: administrators and operators](https://groups.google.com/d/msg/openwisp/qLIlsX2PHak/U9Pk8pe8AAAJ)

Related to:

- https://github.com/openwisp/openwisp-users/pull/38
- https://github.com/openwisp/openwisp-users/pull/40

[2018-10-26 18:50] nemesisdesign opened #44 "[admin] existing OrganizationUser in inline should always show the org related to that user"
**Bug**: if operator not admin in an organisation, the USER ORGANIZATIONS contains ----- instead of the name of organisation.

This problem came out while working on #38.

[2018-10-26 18:51] #32 closed

[2018-10-26 18:57] atb00ker commented on #44
if an operator `is_admin` in org1 and **not** `is_admin` in org2 and a member of default, org1 and org2 exist. Since, this member's record is visible to operator. The dropdown box doesn't contain the name of other organisations it looks like
![this](https://user-images.githubusercontent.com/24985760/47264510-35102180-d536-11e8-8ac4-4679711fad12.png).

It is will always occur in case of #34 (when t

[2018-10-28 15:46] nemesisdesign opened #45 "Move MultitenantAdminMixin from openwisp-utils to openwisp-users"
See https://github.com/openwisp/openwisp-utils/issues/14.

[2018-10-28 16:11] nemesisdesign opened #46 "[admin] Make OrganizationOwner and OrganizationUser admins multi-tenant"
This should be done after #45.

[2018-10-31 20:50] #31 closed

[2018-11-08 15:29] dwang opened #51 "[admin] Changing default admin email address causes database to be locked"
Adding an email address of the default admin account times out (stuck loading) for me. My reverse proxy for OpenWISP reports a 502 Bad Gateway. But once I reload the page and try to do it again, it does not time out, but it returns Server Error (500). Any subsequent operation relating to the database (adding a new device) shows the 500 error as well.

Here is what I'm trying to do:
<img width="535

[2018-11-08 16:43] nemesisdesign commented on #51
are you talking about an openwisp instance installed via ansible-openwisp2? Or is this issue replicable even with the django development server?

[2018-11-09 03:04] dwang commented on #51
It's currently being run on an OpenWISP instance installed with `ansible-openwisp2`, but I can try to replicate with the Django development server later.

[2018-11-09 22:07] nemesisdesign commented on #51
this kind of error happens with sqlite when multiple processes try to write to the database at the same time. The strange thing is that it never happened to me. Yes please, try it out in the dev server, if you can't replicate it there I'll move the issue to `ansible-openwisp2`.

[2018-11-10 20:27] #48 closed, assigned to nobody

[2018-11-20 16:21] dwang commented on #51
Initial testing with the dev server doesn't show any errors. I tried creating a superuser with `./manage.py runserver` and leaving the email blank, but it doesn't throw a 500 error. I will try further testing with `ansible-openwisp2`.

[2018-11-26 20:21] OltarzewskiK commented on #45
@nemesisdesign I have to move MultitenantAdminMixin to admin.py or rather to mixins.py?

[2018-11-26 21:45] nemesisdesign commented on #45
@OltarzewskiK I think we could go as far as to move all the multitenancy admin logic to `multitenancy.py` which should make it really obvious

[2018-11-26 21:57] OltarzewskiK commented on #45
@nemesisdesign :+1: I will try to deal with it tomorrow, because now is quite late

[2018-11-30 20:50] nemesisdesign opened #58 "[docs] Document MultitenantAdminMixin multitenant_shared_relations and parent"
``MultitenantAdminMixin`` has two attributes:

- ``multitenant_shared_relations``: the description is totally unclear
- ``parent`` this is not documented, I added this to allow having multi-tenancy for models which don't have directly an organization field, but have a parent model which does have the field

[2018-12-02 12:50] #45 closed

[2018-12-02 13:26] Rishabh2801 opened #59 "[qa] Cleanup isort and flake8 settings"
GCI Task link - https://codein.withgoogle.com/tasks/4668886705242112/?sp-organization=4514829432782848&sp-is_beginner=False

[2018-12-03 20:44] OltarzewskiK commented on #34
@nemesisdesign For doing this task should I use existing function for example [this](https://github.com/openwisp/openwisp-users/blob/master/openwisp_users/multitenancy.py#L27) or create new?

[2018-12-04 02:25] ppabcd opened #61 "[qa] Add message check commit"

[2018-12-04 16:24] OltarzewskiK commented on #34
@nemesisdesign Are you sure that I have to change this method: https://github.com/openwisp/openwisp-users/blob/master/openwisp_users/admin.py#L195-L213 [the class](https://github.com/openwisp/openwisp-users/blob/master/openwisp_users/admin.py#L123) where it is referring to is I think `User`not `OrganizationUser`, so have I to create new class in the `admin`?

[2018-12-04 19:39] #59 closed

[2018-12-05 09:12] #61 closed

[2018-12-15 16:34] #33 closed

[2018-12-16 19:42] #46 closed

[2018-12-20 15:09] ankit-kumar-dwivedi commented on #58
@nemesisdesign Can I work on this issue? :)

[2019-01-21 22:51] nemesisdesign commented on #58
@ankit-kumar-dwivedi this is more a reminder for myself.

[2019-01-30 21:45] NoumbissiValere commented on #44
Please can i work on this?

[2019-02-01 08:43] atb00ker commented on #44
Yes, sure, you can always work on issues that no one is working on. :smile:

[2019-02-08 19:17] #34 closed

[2019-02-08 19:19] nemesisdesign commented on #51
@dwang if you could confirm this happens only on fresh installs of new instances via `ansible-openwisp2` I will proceed and move this issue there as it makes more sense and will be easier to find/review.

[2019-02-11 14:28] NoumbissiValere commented on #44
![screenshot from 2019-02-11 15-23-04](https://user-images.githubusercontent.com/24882630/52569249-05e92d00-2e11-11e9-81fc-844128d54d93.png)
I was working on this issue and this is what i get when i visit the user/change page. I <strong>don't</strong> experience the problem as stated here. eventhought valere is not an admin in ```org1```, i am able to see it in the change user page and am equally

[2019-02-11 19:01] xeeee commented on #51
I'm having the same problem.
About one month ago, I installed openwisp via ansible-openwisp2 on an old testing server running ubuntu 14.04 (I had to specify "openwisp2_python: python2.7" ), and everything seemed to be working fine.
Today I used the same role (minus the python line) to install openwisp on a fresh ubuntu 18.04 server, and I'm having the same problem.

Every time I try to add create

[2019-02-11 20:56] dwang commented on #51
@nemesisdesign I just spun up a fresh Ubuntu 18.04 server using the latest changes from `ansible-openwisp2` and experienced the same issue. I'll look into some other cases that may trigger this error.

[2019-02-14 18:24] atb00ker commented on #44
@NoumbissiValere is your user a superuser? ( that could be enabling you to see all the orgs! ) :smile:

[2019-02-14 18:33] NoumbissiValere commented on #44
Hmmmmmm. maybe. i will look into that @atb00ker

[2019-02-23 13:13] NoumbissiValere commented on #4
I will handle this issue

[2019-02-26 18:43] NoumbissiValere commented on #28
@nemesisdesign please i don't understand what is needed here. when i looked at the patch at #26 , i see the patch tries solves by problem by validating if the email already exist or not. Please can you through more light?

[2019-02-26 18:44] NoumbissiValere commented on #28
or do you want a validation to be written at the level of `Users` model or how?

[2019-03-12 06:22] jeffysam6 commented on #28
anyone working on it?

[2019-03-12 13:04] NoumbissiValere commented on #28
@jeffysam6 the pull request up there means someone is working on the issue already. :smile:

[2019-04-10 15:01] isranetworks opened #72 "[admin] Creating a new user with invalid email address generates a `Server Error (500)`."
Adding a new user with a `fake email` will output a `Server error (500)` message. Adding the new user again with a `real email` will succeed and the system will add the new user accordingly. From this point, the new user can now be edited with a `fake email` and the `real email` can now be removed from the database.

Please see mailing list topic: [Fresh installation of Debian 9 server + ansible-o

[2019-04-20 17:22] MiHiR151203 commented on #72
Invalid Email Address ?

But I Used A Valid One !

[2019-04-23 13:29] nemesisdesign commented on #72
It may be related or the cause of https://github.com/openwisp/ansible-openwisp2/issues/132

[2019-04-23 20:38] NoumbissiValere commented on #72
I can't replicate this issue on my local development `openwisp_users` repo. I am still able to create users with fake emails in my local `openwisp_users` repo. Please can someone help me to replicate the issue on my local `openwisp_users` repo so that i might be able to provide a fix? Thanks

[2019-04-24 02:56] nemesisdesign commented on #72
@NoumbissiValere by default, the test project runs the console email backend and prints emails to the standard output of the development server.

In order to test it, you should set it to the default email backend of django and then continue tweaking and testing from there.

[2019-04-24 21:53] NoumbissiValere commented on #72
@nemesisdesign
1) I replaced the console backend with the default backend as you suggested . this is the backend i put : ```EMAIL_BACKEND = 'django.core.mail.backends.smtp.EmailBackend'```  (even though django uses this by default)
But i was still able to create users with an invalid email such as `tests@gmail.com`
2) I equally tried turning off debugging thinking it was the problem but i didn't s

[2019-04-24 22:00] nemesisdesign commented on #72
you should not configure the real SMTP, because of course in that case it won't fail but it will work.
This error happens when the default settings are used, a local postfix instance is running and for some reason postfix returns error when sending the email

[2019-04-28 21:42] #28 closed

[2019-04-30 21:38] NoumbissiValere commented on #72
@nemesisdesign on my vagrant VM, i was not able to even add a user whether with valid email or not (was getting the server 500 error). when i check the openwisp2 error log, i got this error message.
`File "/usr/lib/python3.5/smtplib.py", line 862, in sendmail
    raise SMTPSenderRefused(code, resp, from_addr)
smtplib.SMTPSenderRefused: (501, b'5.1.7 Bad sender address syntax', 'openwisp2@192.168.5

[2019-05-01 02:44] nemesisdesign commented on #72
@NoumbissiValere I think this is good enough to write a fix.

The system should not fail with 500 internal server error. I suggest to proceed this way:

- write a test that mocks the part of the code which triggers the sending of the email so that the mocked method raises an exception, for example, `smtplib.SMTPSenderRefused`
- ensure the test fails
- wrap the code that sends the email in a try/ex

[2019-05-01 05:17] NoumbissiValere commented on #72
I think it is a great idea.
i have a problem: Please how will I test the fix on my Vagrant Box. The openwisp2 is running on the VM which was created by vagrant. How do i get the modified `openwisp_users` to this openwisp2 instance to test it ?
Thanks

[2019-05-01 17:21] nemesisdesign commented on #72
@NoumbissiValere

try this:
[code]

[2019-05-02 20:28] #72 closed

[2019-05-16 00:26] #44 closed

[2019-05-16 11:29] NoumbissiValere opened #75 "[API] Add an API for CRUD of users and organization"
- Add an API which will enable users to signup using a social account. when a user successfully signs up, they should be directed to create an organization before they can be allowed to create templates
- Add an API which will enable users to list, edit, delete owned organizations and view the details of a particular organization
- Add an API which will enable users to retrieve and edit their user

[2019-05-30 13:43] atb00ker opened #76 "[ux] Server error 500 received instead form indicating error"
When adding a new organization and selecting an organization user from a different organization server error 500 is recevied.

Expected: Form indicating "please select user from same organization"

[2019-07-07 19:00] Vivekrajput20 opened #77 "[bug] Initial migration throws error."
`python manage.py migrate` throws error for the initial migration. In [create_default_groups](https://github.com/openwisp/openwisp-users/blob/6073c059d10c2eda1c2896f5559457395b05dd9d/openwisp_users/migrations/__init__.py#L30), Permission.objects.get(codename='view_group') returns 2 objects instead of one.

[2019-07-07 20:02] Vivekrajput20 opened #79 "[bug] Tests are broken on current master"

[2019-07-10 18:51] #77 closed

[2019-07-12 23:34] #79 closed

[2019-08-17 19:36] #75 closed

[2019-09-24 09:54] IAmAMissingColon commented on #76
Hello Is This Error Still Present ?

[2019-09-24 15:42] NoumbissiValere commented on #76
@IAmAMissingColon it seems no one is working on the issue. so you are free to work on it and make a pull request.

[2019-10-03 06:18] IAmAMissingColon commented on #76
Okay :)

[2019-10-03 07:14] NoumbissiValere commented on #76
@IAmAMissingColon  try to first replicate the problem on the `openwisp-user` module.

[2019-10-03 07:22] NoumbissiValere commented on #76
@IAmAMissingColon  you try the following steps.
- first install this module in development mode and see that it runs without any problems
- create an organization. maybe called `org1`
- create a user. maybe called `org1_user` and add this user to this `org1` organization
- create the second organization maybe called `org2`. while creating this organization add `org1_user` to it as an organization

[2019-10-03 07:27] IAmAMissingColon commented on #76
OKAY !!!!

THANK YOU :)!!

[2019-10-03 09:22] NoumbissiValere commented on #76
you are welcome @IAmAMissingColon .
Another thing which can guide you to quickly find which file to modify is to look at the `traceback error` which is thrown at your terminal when the `error 500` occurs.

[2019-10-27 07:03] IAmAMissingColon commented on #76
OK!, I'm Seeing Organization Missmatch

[2019-11-10 21:24] atb00ker opened #82 "[requirements] Update dependencies & drop python 2 support"
Python2 is very close to the end of it's lifecycle, it's time we drop the support for Python 2.

To do that,
1. We need to update all the dependencies to python3.
2. Remove code that exists for python 2 support.
3. Remove python2 from README & any documentation.

[2019-12-07 08:21] AshutoshAgrawal2004 commented on #76
Can I work on this task?

[2019-12-07 08:22] atb00ker commented on #76
@AshutoshAgrawal2004 No need to ask, just claim it on GCI, if it's claimable, please feel free to do it! :smile:

[2019-12-07 08:26] IAmAMissingColon commented on #76
Sure @AshutoshAgrawal2004 :smile:

[2019-12-07 12:59] AshutoshAgrawal2004 commented on #76
@atb00ker @IAmAMissingColon Thanks! I will try my best to fix this bug

[2019-12-12 21:07] #76 closed

[2019-12-13 16:16] #4 closed

[2019-12-13 17:15] #39 closed

[2019-12-24 08:33] atb00ker opened #93 "[ux] overlapping words"
![talent](https://user-images.githubusercontent.com/24985760/71403547-146dbb00-2656-11ea-8206-97103c6e634f.png)

I've seen this in other places as well, but we need to find the reason behind this overlapping content and how to fix it here in the organization users view! :smile:

[2020-01-03 15:09] nemesisdesign commented on #93
Which page is this?

[2020-01-04 19:23] atb00ker commented on #93
It's the change organization users page : `admin/openwisp_users/organizationuser/<id>`.

[2020-01-15 18:29] nemesisdesign opened #98 "[admin] Add possibility to deactivate users in batch operation"
Use case:

Go to list of users, select different users, make them inactive with one batch operation.

[2020-01-17 09:23] #82 closed

[2020-02-23 17:19] pawelplsi commented on #98
Do we need a confirmation intermediate page there?

[2020-02-23 18:09] nemesisdesign commented on #98
It would be a good idea to have it as it may be triggered by mistake.

[2020-02-28 18:42] nepython commented on #93
@atb00ker, this issue also seems to ahve been resolved.:smile:
![image](https://user-images.githubusercontent.com/54471024/75577409-ebb7d680-5a87-11ea-9780-542ec4c45b68.png)

[2020-02-29 09:38] atb00ker commented on #93
I don't think any GCI student look into it.
It might be fixed upstream, might be thanks to UI problem in django and they fixed it, in anycase, I can't see it either, thanks for helping me clean up outdated issues! :smile:

[2020-02-29 09:38] #93 closed

[2020-03-13 22:34] #98 closed

[2020-03-20 23:47] nemesisdesign opened #103 "[admin] Specify group during user creation"
During creation, when a user is flagged as staff but not flagged as superuser, we should force the selection of a group (operator or administrator).

[2020-04-14 20:45] nemesisdesign opened #104 "[api] Add API endpoint to authenticate and get a REST token"
See https://www.django-rest-framework.org/api-guide/authentication/#tokenauthentication.

This is an optional feature which should be disabled by default, the setting to use shall be `OPENWISP_USERS_AUTH_API`.

Add django-rest-framework in the `extra_requires['rest']` of setup.py.

[Add an API endpoint](https://www.django-rest-framework.org/api-guide/authentication/#by-exposing-an-api-endpoint) wh

[2020-04-17 15:24] nemesisdesign opened #106 "[tests] Update TestMultitenantAdminMixin to use default operator group"
In this test utility code (which is reused across openwisp modules):

https://github.com/openwisp/openwisp-users/blob/cf5cd64f7d3c3515fcd0fc1f23077620b5a85964/openwisp_users/tests/utils.py#L23-L39

The test expects the permission of the operator to be defined as a class attribute.

This is obsolete, because in more recent versions of OpenWISP we added two default `auth.Group instances`: operator a

[2020-04-17 17:44] nemesisdesign opened #107 "[api] permission class for organization membership and related methods"
Here's some things we'll surely need. Related to #104.

### DRF Permission Class to check organization membership

A DRF [permission class](https://www.django-rest-framework.org/api-guide/permissions/#djangomodelpermissions) that does the same type of check we did in the private storage of openwisp-firmware-upgrader: https://github.com/openwisp/openwisp-firmware-upgrader/blob/6740240b9b7121fc59e8b

[2020-04-30 18:28] okraits opened #110 "Superuser can't delete a regular user"
When trying to delete a regular user as admin (with superuser status) I get the following message:

![grafik](https://user-images.githubusercontent.com/5543887/80746234-d27fe480-8b21-11ea-926f-a35ecb05fb2e.png)

But there's no user with more privileges.

This is openwisp-users 0.2.0.

[2020-04-30 18:32] okraits opened #111 "[users-admin] Overlapping GUI items"
In the page "Change organization user" I noticed overlapping GUI items:

![grafik](https://user-images.githubusercontent.com/5543887/80746084-964c8400-8b21-11ea-8883-0471215f6ea4.png)

This is openwisp-users 0.2.0.

[2020-04-30 21:40] nemesisdesign commented on #110
Are you sure you're logged in as superuser? Maybe you're logged in as a staff user with administrator role?

[2020-05-01 08:40] okraits commented on #110
Of course, there are no other users besides the superuser and the user I want to delete. Also, I re-created the database from scratch to verify the issue.

[2020-05-05 00:00] #110 closed

[2020-05-05 00:06] nemesisdesign commented on #110
Thanks @NoumbissiValere and @okraits, a fix is released on pypi: https://pypi.org/project/openwisp-users/0.2.2/

[2020-05-05 00:20] #104 closed

[2020-05-07 18:54] pandafy opened #113 "[docs] Remove redundant steps for installing for development"
Steps for installing `openwisp-users` for development are redundant in `README.rst`.

[2020-05-07 19:00] nemesisdesign commented on #113
You mean what is written here: https://github.com/openwisp/openwisp-users#install-development-version is repeated afterwards?

The first one can be removed I think.

[2020-05-07 19:10] pandafy commented on #113
Yes @nemesisdesign . (Getting permalink for rendered document is not straight forward as with other code. :sweat_smile: )
These specific lines should be removed
https://github.com/openwisp/openwisp-users/blob/1ad50823b8f63f58b62afa1361145854e624f680/README.rst#L58-L65

[2020-05-11 02:56] nemesisdesign commented on #113
@pandafy you can proceed if you want

[2020-05-11 20:02] nemesisdesign opened #114 "[docs] Basic API instructions"
I think to find a good balance between documentation and maintenance, we should enable swagger and add some basic instructions in the README regarding the API, listing the available API endpoints and briefly explain how to find out their details using swagger.

Right now we only have 1 endpoint but I'll start creating issues about adding more endpoints (eg: CRUD for User, CRUD for Organization, et

[2020-05-11 20:02] pandafy commented on #113
I think this can be a good first issue for new contributors. I don't feel there is an urgency to fix it, let me know if there is. I will create a patch for it.

[2020-05-11 20:14] nemesisdesign opened #115 "[qa] Find out why parallel tests fail"
This fails:

[code]

We should find out why and how to fix it.

We can take advantage of this chance to also suggest to run tests this way in the README to help contributors to run tests faster.

[2020-05-11 22:03] nemesisdesign opened #116 "[api] Allow swagger to show parameters of obtain token view"
Allow swagger to show parameters of obtain token view.
Right now when testing the obtain token view via the swagger API docs there's no way to specify username and password.

[2020-05-15 17:28] #114 closed

[2020-05-15 19:22] codesankalp commented on #113
@pandafy
please see this : https://github.com/openwisp/openwisp-users/pull/118

[2020-05-15 22:01] nemesisdesign commented on #115
Fixed by 8d3de2f696700d9a907dff70526c7a68a48fd01a

[2020-05-15 22:01] #115 closed

[2020-05-15 22:04] #113 closed

[2020-05-15 22:08] nemesisdesign opened #119 "[setup] Require openwisp-utils~=0.5[rest]"
Require `openwisp-utils~=0.5[rest]` in the main requirements once openwisp-utils 0.5 is released.

[2020-05-21 17:44] PabloCastellano commented on #107
@nemesisdesign PR available but I don't see any deprecation message in the logs of the travis build

[2020-05-29 17:10] nemesisdesign opened #122 "[swappable] Add swappable models"
Very often, organizations using OpenWISP need to customize the user model to add a custom field that they need or want.

For example, social security number, every country has a similar field with different length and validation rules.
Some organizations want to know the gender of the user or other details.

Some companies may be serving multiple customers and they may want to add more information

[2020-06-16 01:28] #119 closed

[2020-06-19 01:44] #122 closed

[2020-06-21 19:35] nemesisdesign opened #126 "[bug] API urls raise exception"
[code]

See https://travis-ci.org/github/openwisp/openwisp-firmware-upgrader/jobs/700652574

[2020-06-22 14:11] #126 closed

[2020-06-24 02:12] nemesisdesign opened #128 "[admin] Allow administrators to delete other users + other related improvements"
The following permissions are missing from the administrator group definition (`is_staff=True, is_superuser=False, group=administrator`):

- delete users
- add/change/delete email address

An administrator should not be able to delete a user if the user is owner of an organization (defined with `OrganizationnOwner` which we are not using now, but makes sense to start supporting it).

An administra

[2020-06-24 02:24] nemesisdesign opened #129 "[admin] Allow specifying more fields during user creation"
To be done after or in conjunction with #103 (can be done in the same PR if preferred).

It would be nice to allow specifying these fields in the add form:

- first name
- last name
- phone number

[2020-06-24 19:25] NoumbissiValere commented on #128
@nemesisdesign please when you talk of `Administrators` being able to `delete/change/add email address`, are we referring to their email addresses only or plus the email addresses of other `Administrators`  excluding `superusers`

[2020-06-24 22:03] nemesisdesign commented on #128
@NoumbissiValere

only add the permissions, once that is done they'll be able to manage the email addresses of the users, now they can't.

[2020-06-30 00:04] nemesisdesign opened #132 "[admin] Make organization owner read-only to other organization admins"
If a user is organization owner and another organization administrator is viewing its change user page, make everything read-only.

We can override `get_readonly_fields` for this.

[2020-06-30 01:04] #128 closed

[2020-07-01 18:56] NoumbissiValere commented on #103
I think this can be done with JavaScript or model validation.  @nemesisdesign Please which method do you think is more efficient and should be used?

[2020-07-02 03:30] nemesisdesign commented on #103
@nemesisdesign I think form validation. I also updated the description of the issue to specify that this should be enforced only for staff users.

[2020-07-04 02:28] #103 closed

[2020-07-04 02:28] #129 closed

[2020-07-04 04:14] #107 closed

[2020-07-06 18:34] nemesisdesign opened #137 "[feature] Add support for organization owners"
- when user is added to an organization (a new OrganizationUser with the `is_admin` flag `True` is created), if there's no owner yet, we can automatically add the user as owner, we could do this with a `post_save` signal.
- we can add a data migration that loops over all the organizations which do not have an organization owner defined and will add the older user (must have `OrganizationUser.is_ad

[2020-07-11 19:10] nemesisdesign opened #141 "[bug] empty phone number triggers unique validation error"
How to replicate:

- create 2 users, let them have an empty phone number

Expected behavior:

- phone number can be empty on more than 1 user

Actual result:

- User with this Phone number already exists.

Possible solution:

Make the `User.clean` method set `phone_number` to None if `phone_number` is an empty string, which will avoid the validation error to be raised.

[2020-07-11 20:35] nemesisdesign opened #142 "[admin] Switch to organization membership helpers"
in admin.py, there are a few points in which the organization membership is being done by using of `OrganizationUser.objects...` which can be replaced with the new [organization membership helpers](https://github.com/openwisp/openwisp-users#is-manager-org)

[2020-07-11 20:41] nemesisdesign opened #143 "[admin] Allow administrator role to access organization admin"
- add the permission to change organizations to the administrator role
- ensure only only users which are managers of the org can change it (override has_change_permission)
- ensure has_add_permission and has_delete_permission only return True for superusers
- ensure only superusers and organization owners can change the organization owner inline
- ensure only superusers can add/delete the organiz

[2020-07-14 16:45] NoumbissiValere commented on #143
@nemesisdesign for this point to be achieved, we need to merge #140 first

[2020-07-14 17:40] NoumbissiValere opened #145 "[model] cache user permissions"
create a new helper for the user model which caches user permissions.

[2020-07-15 17:53] nemesisdesign commented on #145
@NoumbissiValere do not forget cache invalidation whenever permissions of a user are changed or its groups are changed

[2020-07-16 03:58] #141 closed

[2020-07-19 21:07] #137 closed

[2020-07-20 13:36] atb00ker opened #149 "[bug] Organization creation form can't take org owner"
When filling the organization creation form, if you select `OrganizationUser` it will never be a part of the organization that you are creating, hence you'll always get the error: "The selected user is not member of this organization."

Hence, I think it needs to be removed from the add organization form.

[2020-07-20 14:34] NoumbissiValere commented on #149
@atb00ker this makes sense. But what if, instead of removing it, at the back, we first create the org_user before the org_owner?

[2020-07-20 14:51] atb00ker commented on #149
@NoumbissiValere We will have to take care of a lot of edge cases, for example: if user closes the tab before saving, now we have an organization created but the user thinks it's not created as they never clicked save.

Similarly, I can think of multiple cases where saving an organization without clicking save could result to confusion and dealing with such cases will make the code really complica

[2020-07-20 15:03] NoumbissiValere commented on #149
🤔 some of them crossed my mind but I was thinking of passing through the `post_save` of `organization`.
You are right. We can't implement this without violating the KISS philosophy.
@nemesisdesign I think @atb00ker is right about us removing this inline from the add form.

[2020-07-21 03:02] nemesisdesign commented on #149
Yes, the best option is to remove OrganizationOwnerInline in the add form, it can be done by overriding the `get_inlines` method.
@atb00ker could you help out with this?

[2020-07-21 04:11] nemesisdesign opened #150 "[api] Add reusable mechanism to validate organization membership"
In each module where we have an API, we are implementing the validation of the organization membership of a user differently and this is not good.

We need a general and reusable solution for this.

I think we can use `permission_classes` for this and create some classes like:

`isOrganizationMember`, `isOrganizationManager`, `isOrganizationOwner`.

We have to allow specifying the name of the orga

[2020-07-21 17:11] #132 closed

[2020-07-21 17:28] nemesisdesign commented on #143
Merged.

[2020-07-22 07:07] atb00ker commented on #150
I don't understand the usage of `organization_field = 'organization'`
Do we want these classes to be specific for user model or a general function to check for any model like `Devices` etc?

[2020-07-25 20:37] atb00ker commented on #149
`get_inlines` was added in `django 3.0`, using it means dropping previous versions. Django 2.2 was LTS and supported till April 2022, so I think we should take another approach for it! :smile:

[2020-07-25 20:47] NoumbissiValere commented on #149
@atb00ker what of something similar to this https://github.com/openwisp/openwisp-users/blob/master/openwisp_users/admin.py#L409

[2020-07-25 23:24] nemesisdesign commented on #149
@atb00ker I always forget about that.. even though we could drop support for django 2.2, but it would mean more work for us to drop support also in other modules to make it consistent, so ok for finding another way.

@NoumbissiValere that line of code, now that I look at it, I wonder if it can be problematic. It looks like it modifies self.inlines which should be a class attribute, this would mean

[2020-07-25 23:35] nemesisdesign commented on #149
@atb00ker @NoumbissiValere I think we can use `get_inline_instances`, which is present also in django 2.2:
https://github.com/django/django/blob/stable/2.2.x/django/contrib/admin/options.py#L585-L599

Actually we are already using it to show the `OrganizationUserInline` in the add user page: https://github.com/openwisp/openwisp-users/blob/master/openwisp_users/admin.py#L386-L400

@NoumbissiValere

[2020-07-26 13:31] atb00ker commented on #149
@atb00ker @NoumbissiValere Fixed both the issues in https://github.com/openwisp/openwisp-users/pull/154 and  https://github.com/openwisp/openwisp-users/pull/155 respectively.

[2020-07-26 21:11] #149 closed

[2020-08-11 02:09] #142 closed

[2020-08-13 21:32] #150 closed

[2020-08-13 22:33] #143 closed

[2020-08-13 22:50] #145 closed

[2020-08-17 20:04] atb00ker commented on #111
@okraits  Seems to be a duplicate of https://github.com/openwisp/openwisp-users/issues/93
Can you please try refreshing your cache? :smile:

[2020-08-20 19:55] pandafy opened #163 "[bug] Non staff user can be admin of OrganizationUser"
It is possible to create an Organization admin with a user who is a non-staff user from Django admin. This user will not be able to login into Django Admin.
A check should be added to allow checking `is_admin` checkbox only if `user.is_staff==True`

[See such user configuration by following this link.](https://user-images.githubusercontent.com/32094433/90818843-c75cf880-e34c-11ea-854d-f2ed6b8bfa96

[2020-08-22 23:35] nemesifier opened #164 "[bug] MultitenantAdminMixin allows non managers to access objects"
This is a bug. Only users with `OrganizationUser(is_admin=True)` should access objects of that organization in the admin, because a user may be end-user in an org and manager/admin in another org.

[2020-08-22 23:46] nemesisdesign opened #165 "[bug] Deleting an OrganizationUser instance may raise exception"
Try the following:

- log in as superuser
- create an organization
- create an user for the new organization (will be flagged as owner)
- try deleting the `OrganizationUser` relationship

This exception is raised:

[code]

Expected result:

Instead of an exception being raised, an error should be displayed in the UI: eg `ProtectedError` should do this.

[2020-08-22 23:51] nemesisdesign opened #166 "[bug] OrganizationOwner shouldn't be allowed to be is_admin=False"
Create an organization user which becomes owner of an organization.

Try to flag it as OrganizationUser(is_admin=False).

The system allows to do this but it shouldn't, it's confusing, because the user will keep being recognized as owner.

The correct behavior would be to raise a ValidationError which says the user is owner of this organization and cannot be downgraded.

[2020-08-23 03:50] #164 closed, assigned to nobody

[2020-08-23 20:04] pandafy opened #169 "[ux] Deleting an OrganizationUser raises exception"
Deleting an OrganizationUser which is also an OrganizationOwner raises exception. But, this exception is not handled properly and throws error on user.
![Screenshot_20200824_013032](https://user-images.githubusercontent.com/32094433/90987552-6a11b300-e5a9-11ea-8fac-397559bbbd03.png)

Instead of throwing this error which user will definitely not see in production, send an error message to UserAdmin

[2020-08-23 22:13] nemesisdesign opened #170 "[admin] Make organization selection automatic when only 1 org"
When the user logged in has access to only one organization, the organization select should automatically set that org as the default value, the user should not need to select it.

[2020-08-23 22:15] nemesisdesign commented on #169
Duplicate of https://github.com/openwisp/openwisp-users/issues/165

[2020-08-23 22:15] #169 closed

[2020-08-23 22:18] nemesisdesign opened #171 "[admin] Add a human readable value for empty org selection"
When the organization selection is optional, it means that leaving it empty makes that object available for all the organizations in the system.

Right now, this is not intuitive at all. We could use some admin form magic to replace the empty string with something like: `Shared systemwide (no organization)`.

[2020-08-24 17:34] pandafy opened #173 "[chores] Typographical error in OPENWISP_ORGANIZATON_* setting"
Fix typographical error in `OPENWISP_ORGANIZATON_USER_ADMIN` and `OPENWISP_ORGANIZATON_OWNER_ADMIN` settings.
It should be `OPENWISP_ORGANIZATION_*` instead.
Fix all occurrence of these settings (docs and code).

These settings are also used in other modules. After fixing it here, a patch should be sent to all those repositories.

Following is a non-exhaustible list of modules containing such occu

[2020-08-25 03:44] nemesisdesign commented on #170
**Update**:

this could do the trick: https://docs.djangoproject.com/en/dev/ref/contrib/admin/#django.contrib.admin.ModelAdmin.formfield_for_choice_field

[code]

I have not tested this.

[2020-08-25 07:02] NoumbissiValere commented on #165
Here is my proposed solution:

- Raise ProtectedError in `base.models.OrganizationUser.delete()`
- Catch this exception in `admin.py` and update the `admin template` with the appropriate message

[2020-08-25 12:03] pniaps commented on #170
I think that way would require code in all ModelAdmin where the model uses **organization** field.

I'm testing with the field, something like adding a default value to the field https://github.com/openwisp/openwisp-users/blob/master/openwisp_users/mixins.py#L84

Let me think about your suggestion, I didn't knew about **organizations_managed** but its a good point.

[2020-08-25 16:57] nemesisdesign commented on #170
Not exactly. All the modules which support multitenancy inherit this mixin:
https://github.com/openwisp/openwisp-users/blob/master/openwisp_users/multitenancy.py#L11

So it should be enough to implement it once for every multi-tenant admin.

[2020-08-25 17:09] pniaps commented on #170
Great, I will try it.
Thanks.

[2020-08-26 02:54] nemesisdesign commented on #165
Because the user may not know they're deleting an owner, if we do that, they may delete an owner inadvertently.

[2020-08-26 06:17] NoumbissiValere commented on #165
Ok. Here is a solution I am proposing.

- The change page of such `org-user` should not have the delete permission and should display a message explaining why i can't be deleted
- If deletion is done through `delete_selected`, `org-users` which belong to `org-owners` should not be deleted and  should display a message explaining why they were not deleted.

[2020-08-30 00:12] nemesisdesign commented on #165
What about just catching the exception and displaying a message using the django message framework instead?

Sounds good.

[2020-08-30 02:29] NoumbissiValere commented on #165
👍

[2020-08-30 02:32] NoumbissiValere commented on #166
@nemesisdesign how about making `is_admin` of `org_user` which belongs to `org_owner` read-only instead?

[2020-08-30 19:28] NoumbissiValere commented on #166
On a second thought, I don't think this method will be the best because, users might be confused with why they can't edit the `is_admin` field.

So I think the best thing to do is to use the `ValidationError` exception. I will implement this

[2020-08-30 22:20] nemesisdesign commented on #166
Yes, it's the simplest thing to do at the moment, let's go for this now. If later on we find we need to improve it further we'll do it.

[2020-09-06 21:29] #166 closed

[2020-09-07 08:00] atb00ker commented on #116
Similar solution in openwisp-radius: https://github.com/openwisp/openwisp-radius/pull/159/files/dc731320e7d20ec08fdc02224cfe1c9d69609bbc?file-filters%5B%5D=.png&file-filters%5B%5D=.rst&file-filters%5B%5D=.txt#diff-4e32af339985be695dbb0f0e9966db6dR10-R20

[2020-09-24 03:34] nemesisdesign opened #178 "[dependencies] Update django-organizations to 2.0"
Switch to django-organizations 2.0, ensuring tests pass the organization admin features work correctly.

[2020-09-29 19:21] raisultan commented on #178
hi 👋 @nemesisdesign, I would like to help on this.

[2020-10-01 02:47] nemesisdesign commented on #178
@raisultan just go for it :+1:

[2020-10-01 05:00] raisultan commented on #178
@nemesisdesign, thanks!

[2020-10-01 22:39] #165 closed

[2020-10-07 04:17] #173 closed

[2020-10-07 18:20] nemesisdesign opened #180 "[deps] Drop support for Django 2.2"
Drop support for Django 2.2 and remove any compatibility shims for that version in the repository.

[2020-10-08 00:30] robd003 commented on #180
Isn't that the currently active LTS release of Django?

[2020-10-08 01:15] nemesisdesign commented on #180
@robd003 yes, but we don't have the same amount of contributors, maintainers and resources as the Django Software Foundation does (not that they surf in gold waters, but at least they're more supported than us), keeping support for multiple django versions costs time and money and at the moment if I have to choose between advancing the project towards its goals and maintaining compatibility with m

[2020-10-09 01:32] robd003 commented on #178
I tried upgrading to the master branch where v2.0 is located but I'm getting this error when running tests:

[code]

[2020-10-09 02:01] nemesisdesign commented on #178
@robd003 thanks a lot for looking into it, a quick search in django-organizations yielded this issue: https://github.com/bennylope/django-organizations/issues/203 in which other users are reporting the same.

See this comment: https://github.com/bennylope/django-organizations/issues/203#issuecomment-703275858

Maybe you can try that.

[2020-10-09 02:02] robd003 commented on #178
@nemesisdesign funny enough I was just about to post linking to that. I tried putting the AbstractUser / AbstractOrganization class at the front, but same issue.

[2020-10-09 02:06] nemesisdesign commented on #178
@robd003 I see. We may wait until it's resolved or a solution is pointed out. Unless you want to invest more time in it. If you're here for hacktoberfest though, there are many other issues you could help us with. Thanks :+1:

[2020-10-09 02:08] robd003 commented on #178
@nemesisdesign I just wanted to improve openwisp-users :^)

I'm thinking of using this as part of my SaaS project.

[2020-10-09 02:26] nemesisdesign commented on #178
That's great to hear @robd003, here's two issues that would be very useful for everyone:

- https://github.com/openwisp/openwisp-users/issues/170
- https://github.com/openwisp/openwisp-users/issues/171

[2020-10-11 02:32] apsideproj opened #181 "Users and Organizations in separate apps"
Can this package support Users and Organizations being in separate apps? For example, I have Users in an app called "users" and I have Company in an app called "company". Will this package support that use case?

[2020-10-11 03:42] apsideproj opened #182 "AttributeError: 'ForwardManyToOneDescriptor' object has no attribute 'through'"
[code]

I'm getting this issue after copying the openwisp2 sample project. Has anyone faced this issue?

[2020-10-11 05:43] nemesisdesign commented on #181
I think it's doable, by using it as a library and defining the models in two separate apps, read there: https://github.com/openwisp/openwisp-users#extend-openwisp-users.
I'm closing because it's not really and issue but more a support question. Feel free to keep asking questions if you need or create an issue if you find a problem while trying to implement what you need.

[2020-10-11 05:43] #181 closed

[2020-10-12 02:24] #182 closed

[2020-10-12 02:43] apsideproj commented on #181
Hi @nemesisdesign .. I do have a follow up question. I decided to add my models in one single app. However, I created a directory for `models` a new file for each model just for better readability and structure. When I try to apply the manual permissions migration, I keep getting the issue below. I assume it has something to do with the structure of where my models live.

Project structure:
[code]

[2020-10-12 18:28] nemesisdesign opened #183 "[bug] Can't confirm email address if no social login apps defined"
How to replicate:

- add new user, specify email address
- look at the console, the email should be printed, including the link to verify the email address, click on the link
- exception is raised:

[code]

Expected behavior: no exception raised, email address is confirmed.

[2020-10-12 18:28] nemesisdesign opened #218 "[bug] Can't open /accounts/login/ if socialaccount app is not listed in INSTALLED_APPS"
How to replicate:

- add new user, specify email address
- look at the console, the email should be printed, including the link to verify the email address, click on the link
- exception is raised:

[code]

Expected behavior: no exception raised, email address is confirmed.

[2020-10-12 23:03] apsideproj opened #184 "LookupError: App 'core' doesn't have a 'organization' model."
I'm attempting to follow the instructions for extending openwisp-users but running into an issue with the manual migrations file (`0002_default_groups_and_permissions`). I created a directory for `models` and a new file for each model just for better readability and structure. When I try to apply the manual permissions migration, I keep getting the issue below. I assume it has something to do with

[2020-10-13 23:06] nemesisdesign commented on #184
I suggest you to simply replicate this structure: https://github.com/openwisp/openwisp-users/blob/master/tests/openwisp2/sample_users/models.py, which is used in our automated test and dev environment (you can run it too with `SAMPLE_APP=1 ./manage.py runserver` from the `tests` directory of this repository).

I suggest to start with a working system and then increase complexity step by step.

[2020-10-13 23:06] #184 closed

[2020-10-15 02:22] apsideproj commented on #149
Hey @atb00ker @nemesisdesign I came across this when attempting to do something specific for my project. I want to allow people to create their own organizations and accounts on a sign up page. I understand this is possible using django-organizations but is there any built in support in openwisp-users? The user signing up should become the organization owner and an organization user at the same ti

[2020-10-15 03:00] nemesisdesign commented on #149
@apsideproj it's not imeplemented but if you implement it you're welcome to send a patch.

[2020-10-19 21:06] nemesisdesign opened #187 "[docs] Several broken links in "Extend openwisp-users" section"
I found out several links in [Extend openwisp-users](https://github.com/openwisp/openwisp-users#extend-openwisp-users) which link code samples from openwisp-users are broken (return 404). We should review all the links one by one and fix the broken ones.

[2020-10-20 05:12] Shagunjain10 commented on #187
I would like to work on this issue.

[2020-10-20 05:27] NoumbissiValere commented on #187
You can go ahead @Shagunjain10

[2020-10-21 02:29] #187 closed

[2020-10-21 14:53] raoashish10 commented on #183
@nemesisdesign I tried to replicate the issue, but I am able to confirm the user. Any other way I can try to replicate the issue?

[2020-10-25 13:18] niteshsinha17 opened #190 "[bug] Html get shifted left due to main-menu"
I don't know wheater it was done intentionally or not but when the cursor is moved to the right side cursor change into pointer due to the main menu which is not visible as shown in the figure.

![Screenshot (145)](https://user-images.githubusercontent.com/42765292/97108027-b2a43480-16f0-11eb-866a-bb3c2e51fc3e.png)

This is causing some other problem.

Steps to produce:
1. Click on the invisible p

[2020-10-29 16:45] niteshsinha17 commented on #116
I want to give it a try.

[2020-10-31 10:35] atb00ker commented on #116
@niteshsinha17
You don't need to wait for assignment.
You can start working on it and create a PR.
The simple rule is that if there is a recent PR opened for an issue, ask before working on it, if there is no activity, feel free to start. :smile:

[2020-10-31 12:47] niteshsinha17 commented on #116
@atb00ker Thanks.

[2020-10-31 12:59] niteshsinha17 commented on #116
@atb00ker Can you please provide me a link to learn about swagger.

[2020-10-31 13:07] atb00ker commented on #116
1. Official docs are good: https://drf-yasg.readthedocs.io/en/stable/readme.html
2. Code is like history, reading it helps in implementation, here is swagger implemented in openwisp-radius: https://github.com/openwisp/openwisp-radius/commit/3ca4b46d7abf75bf5113daf5ad3c9becb30f3a1d

Hope this helps, let me know if you have any further questions! :smile:

[2020-11-02 14:42] niteshsinha17 commented on #116
Hi @atb00ker and @nemesisdesign
I have just learnt django rest framework to work on this issue and I have tried to follow your attached links. I am sharing a screenshot. Can you please confirm that is the desired output or not. So that I can do a PR for review.
![Screenshot from 2020-11-02 20-01-33](https://user-images.githubusercontent.com/42765292/97880748-8ec39d00-1d47-11eb-9155-f7c20d2e0ffb.pn

[2020-11-02 14:43] niteshsinha17 commented on #116
I have not changed some names, Please don't mind. I will change it before doing the PR.

[2020-11-02 15:39] atb00ker commented on #116
Hi @niteshsinha17,

Please create the PR, we can discuss it there itself.
So far the image looks good, but I can only be 100% confident after seeing, interacting and testing it. :smile:

[2020-11-02 15:54] niteshsinha17 commented on #116
Okay, I will do the PR soon.

[2020-11-13 11:51] devkapilbansal opened #194 "Remove typographic error for backwards compatibility in openwisp-users 0.5"
The typographic error in  this code should be removed in 0.5 release

https://github.com/openwisp/openwisp-users/blob/1ff86e27ffb5764e60c340da234fbcb0507a0aeb/openwisp_users/settings.py#L4-L15

[2020-11-13 15:54] nemesisdesign opened #195 "[openwisp-users] Release 0.5.0"
In order to update openwisp-utils to 0.7 and avoid compatibility issues, we should release a new point version (0.5.0), otherwise some modules that are using openwisp-utils 0.6.0 will complain.

Blocked by #194 and #197.

[2020-11-13 18:13] nemesisdesign commented on #194
You can proceed if you like, so we can release the 0.5 #195.

[2020-11-14 11:49] devkapilbansal opened #197 "[deprecated] Remove User.organizations_pk"
User.organizations_pk is deprecated and should be removed in the upcoming release

https://github.com/openwisp/openwisp-users/blob/47c68d0805b487317f77130a0bac936500738694/openwisp_users/base/models.py#L63-L80

[2020-11-14 11:58] devkapilbansal commented on #197
Shouble be included in #195

[2020-11-14 22:35] nemesisdesign commented on #197
Let's do it :+1:

[2020-11-14 22:41] #194 closed

[2020-11-15 09:18] niteshsinha17 commented on #106
I am working on this Issue 😊

[2020-11-17 04:25] #197 closed

[2020-11-18 18:43] #116 closed

[2020-11-18 22:24] nemesisdesign opened #200 "[deps] Fix failing tests for django-allauth to 0.43.0"
We have to update the minimum required version of django-allauth 0.43.0 and fix the failing tests.

[2020-11-18 22:35] #195 closed

[2020-11-20 00:35] #200 closed

[2020-12-02 20:32] nemesisdesign opened #203 "[change] Turn on API by default"
Related to https://github.com/openwisp/openwisp-firmware-upgrader/issues/111.
It may be a good time to enable the REST API by default since it's going to be needed by firmware-upgrader and other modules.

[2020-12-03 22:53] nemesisdesign opened #204 "[bug] Main template not loding in /accounts/login/"
Try to access /accounts/login/.

Something like the following screenshot is shown:

![Screenshot from 2020-12-03 17-52-31](https://user-images.githubusercontent.com/841044/101098115-615d4f80-3590-11eb-929a-bd2c34a92fef.png)

But we expect to see the main theme as in the URL which is used to confirm the email address.

![Screenshot from 2020-12-03 17-53-03](https://user-images.githubusercontent.com

[2020-12-04 06:03] b-thebest commented on #203
Can I work on this

[2020-12-08 11:12] niteshsinha17 commented on #106
I think I need some more time to work on this Issue. If someone wants to work on it can go ahead.

[2020-12-08 17:00] pandafy opened #205 "[feature] Add a custom static storage class"

[2020-12-10 23:58] nemesisdesign opened #206 "[feature] Allow logging in with phone number, email or username"
Right now is only possible to log in with the username, but nowadays email and phone numbers are widely used.

We need to create an authentication backend that allows authenticating with any of the following:

- username
- email
- phone number

And of course, password.

Important points:

- [ ] the string supplied for username, email or phone number must be not empty.
- [ ] we could use an OR quer

[2020-12-11 08:45] pandafy commented on #206
We can just make such occurrence obsolete by putting regex in place which ensure that user can't put an email address or mobile number(a username should contain atleast one alphabet) in username field.

We should explore whether django-allauth could do the heavy lifting for us instead of creating our own authentication backend.

[2020-12-11 08:57] NoumbissiValere commented on #206
@pandafy we want to able to put an `email` or a `phone number` in the place of `username` and still get logged in.

[2020-12-11 11:07] pandafy commented on #206
Thanks for clearing out @NoumbissiValere :smile:

[2020-12-11 17:24] nemesisdesign commented on #206
@pandafy changing the authentication backend is the standard practice, why do you think is better doing it differently?

[2020-12-27 17:58] devkapilbansal commented on #171
@nemesisdesign I setup the project locally by following instructions. But I don't think that the organisation selection is optional. Can you please look into this again and elaborate the issue?

[2020-12-27 19:05] Purhan commented on #171
@devkapilbansal I've been working on this issue and I'm pretty close to a patch :smile: however, I didn't claim this so that's on my part. Would you like to leave this? For your question, yes, the sample app we're using currently has 2 models: `Book` and `Shelf`, and these both have mandatory organization field.

[2020-12-27 19:09] devkapilbansal commented on #171
Okay @Purhan you can take this up. But if the organisation field is not optional, then does this issue makes sense?

[2020-12-27 19:12] Purhan commented on #171
Yes, because there may be other modules relying on `openwisp-users` where some models have it optional.

[2020-12-30 03:24] #206 closed

[2020-12-30 22:33] #171 closed

[2020-12-31 00:36] nemesisdesign commented on #111
Looks solved to me, re-open if not.

[2020-12-31 00:36] #111 closed

[2020-12-31 00:42] nemesisdesign opened #210 "[feature] Add API classes to filter by organization and to check parent objects"
We need DRF API classes/mixins to perform the following operations:

- organization access:
  - filter objects related to the organizations the user has access to
  - filter objects related to the organizations the user can manage
  - filter objects related to the organizations the user owns
- parent object check
  - same as above but while filtering the parent object

The concept has been explore

[2021-01-06 16:56] devkapilbansal opened #213 "Integration test breaking for 'test_login_page`"
`test_login_page` in `test_admin.py` is failing integration tests in other modules.

https://github.com/openwisp/openwisp-users/blob/e3577f03a0c381e1ab53ace751dd902d3498647d/openwisp_users/tests/test_admin.py#L1482-L1494

<details>
<summary>Failing test </summary>

[code]
</details>

[2021-01-06 17:11] nemesisdesign commented on #213
Not a bug, it's a bug in the sample apps of the other modules which needs to be fixed.

[2021-01-06 17:11] #213 closed

[2021-01-07 23:31] nemesisdesign opened #214 "[bug] Group has not been registered with django-reversion"
This shows up in instances installed via ansible-openwisp2 but can be replicated in the dev env.

**How to replicate**:

- add `reversion` to INSTALLED_APPS, install django-reversion if you don't have it installed in your virtualenv already, in openwisp-users is optional
- go to groups, open a group, (eg: administrator), make some changes, save, repeat the process again
- click on the "history" bu

[2021-01-07 23:38] nemesisdesign commented on #214
Fun fact, trying to register `Group` manually yields the opposite exception:

[code]

[2021-01-07 23:41] nemesisdesign commented on #214
Oh I see now, Group is being interpreted in two different ways:

- `openwisp_users.models.Group`: registered
- `django.contrib.auth.models.Group`: not registered

[2021-01-10 04:48] niteshsinha17 commented on #214
@nemesisdesign I was able to replicate this but when I run `./manage.py createinitialrevisions` I got the expected outcome.

[2021-01-10 07:05] Purhan commented on #214
Are you sure about this? This had no effect for me.

[2021-01-11 06:08] lehone-hp commented on #203
Working on this.

[2021-01-11 06:34] lehone-hp commented on #183
@nemesisdesign I had the same outcome as @raoashish10, the user's email was confirmed without any exception.

[2021-01-11 07:57] NoumbissiValere commented on #183
@nemesisdesign I think The was an error in reporting this issue. `Social App` like `Facebook` should not be required to confirm a user's email address

[2021-01-11 21:18] nemesisdesign commented on #183
I can replicate this in the test/dev environment of openwisp-radius by opening up `http://localhost:8000/accounts/login/`.

Hence, I'm moving this issue to [openwisp-radius](https://github.com/openwisp/openwisp-radius/).

[2021-01-11 22:08] #203 closed

[2021-01-11 22:09] #218 closed

[2021-01-11 23:09] lehone-hp commented on #106
I will be working on this.

[2021-01-12 09:45] lehone-hp commented on #106
@nemesisdesign after removing `get_operator_permissions` and assigning the Administrator and Operator [permissions](https://github.com/lehone-hp/openwisp-users/commit/c01c5cd4335f5d8c6fed06805ac1b79e243f3eeb), several tests keep failing with the output below.
![Screenshot from 2021-01-12 10-43-29](https://user-images.githubusercontent.com/23194068/104297395-1ace0f80-54c3-11eb-91d8-9dc2c3d0cb72.png

[2021-01-12 14:41] niteshsinha17 commented on #106
@lehone-hp This is happening because Operation does not have permission to access those pages that's why it is giving error `Couldn't retrieve content`. We may need to add permissions to the operator for it.  Am I right @nemesisdesign ?

[2021-01-12 14:45] niteshsinha17 commented on #106
If you will remove these lines then it will not show any error.
https://github.com/openwisp/openwisp-users/blob/8a411dda5fefaee3f371412a1d249765f1333309/openwisp_users/tests/utils.py#L85-L98
But I don't think it's a solution. nemesisdesign can give a better solution for it.

[2021-01-12 21:54] nemesisdesign opened #221 "[feature] Add optional birth_date field"
Add an optional `birth_date` field (`DateField`) to User model for backward compatibility with OpenWISP 1 (OpenWISP User Management System).

Ensure the field can be left empty (`blank=True, null=True`).

[2021-01-13 03:13] nemesisdesign commented on #106
I think this is correct.

[2021-01-13 11:39] lehone-hp commented on #106
Okay, I will assign the appropriate permissions and then open a PR

[2021-01-13 16:10] #221 closed

[2021-01-16 01:38] #214 closed

[2021-01-18 01:34] nemesisdesign opened #224 "[CI] Move to Github actions"
Time to move this one too.

[2021-01-20 01:38] nemesisdesign opened #227 "[change] Make email lowercase during registration"
Let's avoid the possibility of having multiple users with the same email but with different cases for letters.

We should edit the register serializer to ensure the email is converted to lowercase (+ unit test).

[2021-01-24 18:53] #210 closed

[2021-01-30 02:05] nemesisdesign opened #228 "[bug] Regression: opening non existing user ID raises an exception"
How to replicate the issue:

**Try opening:**

- `http://localhost:8000/admin/openwisp_users/user/15f0345b-b9c1-44b2-b674-0deac5c7c816/change/`
- `http://localhost:8000/admin/openwisp_users/user/WRONG/change/`

**Expected outcome:** 404, no exception raised

**Actual outcome:** exception is raised.

**Cause:**

https://github.com/openwisp/openwisp-users/blob/8b4e84a665f0d53ddf3e96fb9a52d0641bd1e74

[2021-02-03 15:33] Purhan opened #229 "[bug] Don't allow filter classes to be used without authentication"
https://github.com/openwisp/openwisp-controller/pull/374#pullrequestreview-581968990

If used in views without `IsAuthenticated` permission, the filter classes will raise an exception.

[2021-02-04 16:34] nemesisdesign commented on #229
@Purhan maybe our classes can inherit and extend `IsAuthenticated`, so we get this check for free, without having to specify again `IsAuthenticated`? Since it's implied that the user needs to be authenticated for this feature to work.

[2021-02-05 07:58] Purhan commented on #229
I'm not sure how that's possible since most of the logic for `permission_classes` exist in `APIView` class of DRF and not the permission classes themselves.
Maybe we could do the following:

- Inherit from `rest_framework.views.APIView`
- Override the following function:
[code]

PR incoming soon

[2021-02-17 00:53] #229 closed

[2021-03-10 04:39] Saurav-Shrivastav commented on #228
I would like to take this up! Can it be assigned to me? @nemesisdesign

[2021-03-20 15:32] #180 closed

[2021-03-20 18:37] #228 closed

[2021-04-03 03:19] nemesisdesign opened #235 "[bug] DRF mixins which restrict who can set objects to organization=None (shared)"
Make sure shared objects can be created and edited only by super administrators.
Non super administrators should only be able to view shared objects.

Otherwise operators with limited access to the system can create objects which can affect the entire system also for other organizations.

EG: the user of an org may create a required shared template which adds their SSH keys to the devices of all t

[2021-04-03 05:31] Purhan commented on #235
Yes, They have to be used always. We should move them into `serializers.py`.

[2021-04-03 21:18] #227 closed

[2021-04-06 02:15] nemesisdesign commented on #235
Any suggestion for fixing this issue? What could be a good generic way to disallow non superusers from creating shared objects? Could we handle it at validation level or can we avoid showing the empty organization choice if the logged in user is not superuser?

[2021-04-07 08:51] ManishShah120 commented on #235
@Purhan ,I think this can be handled by the class `FilterSerializerByOrgManaged` by adding a few more logics to it.
Am I correct Purhan?? Can I please get your suggestion regarding this. This is a major concern I am facing while working on  [REST API](https://github.com/openwisp/openwisp-controller/pull/386)

[2021-04-07 16:29] Purhan commented on #235
Sorry this was lost in my notifications.

@ManishShah120 Can you point me to the issue you are facing (reference to the line in the code)? I had to create this class in openwisp-ipam that you might want to look at https://github.com/openwisp/openwisp-ipam/blob/03b6a28f7a6cdb1d3d2e3436c7593f3181be94e7/openwisp_ipam/api/utils.py#L8-L35 maybe this can be turned into something more reusable. Also remi

[2021-04-07 16:51] ManishShah120 commented on #235
Yes, this will be a better Idea, I realised that that this logic will be required when working with other apps API as well. Let me give a try and I'll get back to you.

https://github.com/openwisp/openwisp-controller/pull/386#pullrequestreview-628464205

[2021-04-10 21:26] ManishShah120 commented on #235
Hi, @nemesisdesign I need little clarification with this point:-

Should this not be valid for the Admin page as well. If yes, then presently we can't view the shared objects, suppose admin has created two shared template, and then the operator logs in, then the operator will be able to see the templates in the devices config section, but the shared template will not be present in the template pag

[2021-04-11 21:51] ManishShah120 commented on #235
Yes, this can be done, I tested it in `FilterSerializerByOrganization`.

[2021-04-14 02:51] nemesisdesign opened #238 "[feature] Allow viewing shared objects by non superadministrators as view only"
Right now, shared objects (eg: shared templates, shared vpns) are hidden to non superusers.

It would be great to allow non-superusers to see these items in readonly mode.

This change should be done for admin and API views.

[2021-04-14 02:53] nemesisdesign commented on #235
You are right, in the admin it is currently not possible to view shared objects but we should find a way to allow this, it has been on the back of my mind for months and therefore I have opened an issue right now: https://github.com/openwisp/openwisp-users/issues/238, thanks for bringing this up!

However, in order to be consistent with the admin, let's skip this part and let's just focus on makin

[2021-04-14 06:25] ManishShah120 commented on #235
Yes, Thank you I'll soon resolve this.

[2021-04-20 22:16] nemesisdesign opened #240 "[feature] Allow to easily find out REST auth token"
We should add a way to easily find out the REST framework auth token of the user logged in the admin and document this.

[2021-04-21 10:08] codesankalp opened #241 "[bug] Add reverse for `account_email`"
After registering a user from the admin site in openwisp-controller and openwisp-radius and clicking on the confirm-email link it gives this error because reverse for `account_email` is not in `openwisp_users.account.urls`:
![image](https://user-images.githubusercontent.com/56037184/115535960-e08cbf00-a2b6-11eb-8836-8697072ee36e.png)

**Possible solution**: Add URL for `account_email` in `openwisp

[2021-04-21 10:18] codesankalp commented on #241
@nemesisdesign Instead of adding `allauth.urls` in `urls.py`of `openwisp-radius` issue I thought to fix this here because this issue is in each repo where `openwisp_users.account.urls` is used in `accounts/` endpoint.
Can you please confirm this to solve this here or not so that I can make a PR to fix this?

[2021-04-22 02:54] nemesisdesign commented on #241
@codesankalp I think you're focusing on the symptoms instead of the root cause.

First of all we must ask: is this missing URL a deliberate choice or was it forgotten?
Response: it's deliberate, because that URL is used to allow the user to change their email through some views and templates which we currently do not use.

Infact that template that in openwisp-radius fails, it's overridden in this

[2021-04-22 02:56] nemesisdesign commented on #241
@codesankalp most probably the reason of the issue is just the order of the installed apps:
https://github.com/openwisp/openwisp-radius/blob/master/tests/openwisp2/settings.py#L28-L43

Take a look at the settings of openwisp-users: https://github.com/openwisp/openwisp-users/blob/master/tests/openwisp2/settings.py#L24-L30

Do you see the difference?

[2021-04-22 03:49] nemesisdesign opened #242 "[cleanup] Clean format=api HTTP_AUTHORIZATION and mixed quotes in test_filter_classes.py"
The `tests/testapp/tests/test_filter_classes.py` suffers of the following problems:

- calls to the browsable API are done in a not clean way, we should do those calls as indicated in https://github.com/openwisp/openwisp-users/pull/239#discussion_r618058751
- quoting style is mixed, we should keep consistency and use only single quotes whenever possible

[2021-04-22 18:04] codesankalp commented on #241
Yes, It's related to the ordering apps.

I thought this is the cause of the error so I created it because it is occurring in the openwisp-controller as well.
But from next time I will put more effort and will ask on Gitter before creating an issue.

Closing this issue.

[2021-04-22 18:04] #241 closed

[2021-04-22 23:34] #235 closed

[2021-04-29 23:50] nemesisdesign opened #245 "[feature] Change authentication backend to make it work with number without international prefix"
In some old openwisp1 installations, users are used to log in with their phone number without the international prefix and these users want this behavior to be unchanged.

In order to accomplish this, we should change the following authentication backend:

https://github.com/openwisp/openwisp-users/blob/31254336f959928c9b2592657f50edce4b1ed00c/openwisp_users/backends.py#L21-L24

Probably we can ad

[2021-05-01 01:09] #245 closed

[2021-05-02 22:20] ManishShah120 opened #247 "[Bug] Include the objects with org=None, while filtering serilaizer fileds based on the organization of an user"
https://github.com/openwisp/openwisp-users/blob/747ac34ac59c7fee843f8ad250cc5d12292c722b/openwisp_users/api/mixins.py#L137-L140

@nemesisdesign , @atb00ker with this line of code we are trying to filter out other `ForeignKey` related field other than `organization` field, based on the organization of a user, But mostly all of such fields has an option to create objects as shared org(organization=N

[2021-05-03 13:54] atb00ker commented on #247
I think we can include `organization=None` objects in this result, but let @nemesisdesign also check it once, you might create a tentative WIP PR if this a blocker somewhere! :smile:

[2021-05-03 15:59] nemesisdesign commented on #247
Thanks @ManishShah120, let's clarify, because I am not sure I understood.

Non superusers should be able to select shared objects when creating/editing objects via the API, eg:

- a user shall be able to assign a shared template to a device
- a user shall be able to create a template of type "VPN client" which relates to a shared VPN

Is it clear?

Is this bug you are describing preventing a user

[2021-05-03 20:37] ManishShah120 commented on #247
Yes, you are right, currently only those objects are returned which belongs to any organization. excluding the objects having organization set to `None` (i.e., shared objects).

[2021-05-04 02:10] nemesisdesign commented on #247
@ManishShah120 @atb00ker @Purhan what do you think about something like the following:

[code]

[2021-05-04 15:45] atb00ker commented on #247
That looks good to me! :smile:

[2021-05-04 16:48] ManishShah120 commented on #247
@nemesisdesign, @atb00ker I tried implementing it, but it didn't resolve the issue, since we need this for serializer classes, and the changes made here are being inherited only to those mixins which are designed to be inherited to in the views classes.

I tried doing something like this(also this was suggested by @atb00ker in REST API and it works here):-
[code]
I am not sure where this may break

[2021-05-04 18:26] nemesisdesign commented on #247
@ManishShah120 yes sorry my suggestion pointed to the wrong class but I believe you can use almost the exact same code.
Try to use "in" instead of chaining several "or", the result is easier to read.

You're looping over the organizations and chaining several "or", but can be done simply by adding None to the `organization_filter` list. It should be possible to disable this since it's not required

[2021-05-05 14:08] ManishShah120 commented on #247
@nemesisdesign It is not returning the shared objects after adding `None`, to the `organization_filter` list, the results remains same, this is what I did as you suggested:-
[code]
also, it is good to convert the org_list to `set`, because after each iteration `None` will be added to the list. But still this approach is not working

I did a little tweak in the previous code to include the `filter_

[2021-05-06 03:10] nemesisdesign commented on #247
@ManishShah120 you're right, the following is not effective:

[code]

I forgot that the ORM has its own filter for checking for NULL values: `isnull`, therefore, this works (I just tested it):

[code]

Therefore along the lines of the following code should work:

[code]

[2021-05-07 17:36] #247 closed

[2021-05-12 03:37] nemesisdesign opened #249 "[feature] Add class to implement view permissions in DRF"
DRF DjangoModelPermission does not takes into account the view permissions, and hence any user is allowed to view the objects even though they may not have view permission or change permission on that specific object.

We recently dealt with this in openwisp-network-topology, we could use a similar solution, adapted to be more generic:
https://github.com/openwisp/openwisp-network-topology/blob/3c3

[2021-05-14 16:11] nemesisdesign commented on #249
**Update**: there's a an issue in django-rest-framework for this:
https://github.com/encode/django-rest-framework/issues/6324
I think we should invest in helping out fixing it there.

[2021-05-14 17:46] ManishShah120 commented on #249
**Legends:**
1. **is_admin_org1_administrator**: Is admin of organization1 and belongs to administrator group
2. **not_is_admin_org1_administrator**: Is not admin of any organization and belongs to administrator group
3. **is_admin_org1_operator**: Is admin of organization1 and belongs to operator group
4. **not_is_admin_org1_operator**: Is not admin of any organization and belongs to operator gro

[2021-05-15 06:24] ManishShah120 commented on #249
I am not following you.

    only organization managers (having is_admin=True) or superusers can use the API
    non superusers have limited permissions, according to the permissions defined in django

Copy from Gitter response

This is what I wanted to explain :+1:

[2021-05-18 13:40] ManishShah120 opened #250 "[API] Create API endpoints for the `openwisp-users` module"
The API endpoints should allow:-
- users to change and update permissions, groups, organization-users
- An extra endpoint to manage email addresses of users
- Endpoints to allow CRUD operations for `organizations`

[2021-06-01 16:45] #249 closed

[2021-06-03 07:00] EasyNetDev opened #257 "[ux] User edit: the password change link is not easy to spot"
Hi,

I've notice that I don't have any options to change a user password. How can I enable this form?

![No Password Change Form](https://user-images.githubusercontent.com/1823016/120601374-856fef80-c452-11eb-90cf-b60c6f96f2d4.PNG)

[2021-06-05 08:17] niteshsinha17 opened #253 "[change] Register menu groups"
Must be done after implementing register menu group functionality [openwisp/openwisp-utils#189](https://github.com/openwisp/openwisp-utils/issues/189)

[2021-06-07 17:47] nemesisdesign opened #255 "[bug] API mixins don't take into account organization_lookup"
Some classes in openwisp-users were not taking into account the organization_lookup field, hence queries were failing to find the right organization field, I solved this in https://github.com/openwisp/openwisp-users/tree/improve-api-mixins, but tests are missing, we need at least one test in openwisp-users.

I discovered this while working on https://github.com/openwisp/openwisp-firmware-upgrader/

[2021-06-07 17:53] nemesisdesign opened #256 "[bug] API mixins and classes seem to generate unneeded queries."
The API mixins and classes added recently to openwisp-users have been based on code from openwisp-firmware-upgrader,
but while working on openwisp/openwisp-firmware-upgrader#142 to remove the code initially added to the firmware-upgrader module in favour of the new classes added to openwisp-users, I found that the number of queries increased between 2 and 3 queries for each endpoint.

This is worr

[2021-06-10 11:49] ManishShah120 commented on #255
@nemesisdesign I am not able to replicate the issue for which you have made the changes here, for me `organization_field` is filtered and working good. Can you please explain a bit more on how can I replicate the issue.
--Thank You

[2021-06-10 15:42] nemesisdesign commented on #255
`FilterByParent` and `FilterSerializerByOrganization` do not work if the organization field is on a parent model.

Try to use these classes as they are now in the master of openwisp-firmware-upgrader and you'll understand, firmware upgrader has a few models which rely on the organization field of the parent objects.

[2021-06-11 18:09] ManishShah120 commented on #255
Yes Got it. :+1:

[2021-06-12 06:51] ManishShah120 opened #259 "[mixin] `FilterSerializerByOrgManaged` raises `KeyError` when implemented to nested serializer classes"
The `FilterSerializerByOrgManaged` class raises `KeyError` when we run the server after implementing in some serializer classes which contains nested serializer class.
I found this issue while working on :- https://github.com/openwisp/openwisp-firmware-upgrader/issues/142

[2021-06-16 01:50] #255 closed

[2021-06-19 18:51] nemesisdesign opened #261 "[feature] Add user preferred language field"
We need to store an additional field to store the preferred language of the user (string, with choices defaulting to `settings.LANGUAGES`, defaulting to a callable which uses the default locale set in django settings).

This is needed because in different modules we send email to users and in some end-user applications we need to translate the content for the end users, and when sending email we d

[2021-06-21 11:03] hannasalam commented on #242
I would like to work on this if it's not been taken

[2021-06-21 12:24] ManishShah120 commented on #242
@hannasalam Yes, you can work on it.

[2021-06-21 16:08] nemesisdesign commented on #242
@hannasalam go for it :+1:

[2021-06-21 19:45] pandafy opened #262 "[bug] Add error handling for case where user,organization_user is None"
While loading data from a fixture(e.g. using loaddata), `user.organization_user.user` raises `ObjectDoesNotExists` exception probably because `OrganizationUser` table is empty at that point. This makes it impossible to import data from fixtures without changing the code.

https://github.com/openwisp/openwisp-users/blob/a1e44d4a3e15f3745181473843844b9450908f4e/openwisp_users/apps.py#L85-L92

**Poss

[2021-06-22 10:47] keshavgbpecdelhi commented on #170
Well done.

[2021-06-23 15:41] ManishShah120 commented on #256
https://github.com/openwisp/openwisp-firmware-upgrader/issues/142#issuecomment-866947374

[2021-06-27 23:18] #242 closed

[2021-07-05 16:54] #259 closed

[2021-07-18 17:08] nemesisdesign commented on #250
Let me recap important points of the API which shouldn't be missing:

- it shall be possible to change the password of the user. We could keep this simple and just ignore the password if left blank or null, change the password if the field is set instead. Alternatively we'd need another endpoint just for changing the password.
- it shall be possible to assign users  to organizations, or remove use

[2021-07-31 18:04] nemesisdesign commented on #257
I improved this in the openwisp-utils admin theme to at least show the link of a different color for now, it will be included in the next release.

Let's leave this open though so that we can change the link to a button in the near future.

[2021-08-01 16:33] #253 closed

[2021-08-04 00:56] nemesisdesign opened #266 "[bug] has_permission() is buggy and redundant"
The functionality in this commit https://github.com/openwisp/openwisp-users/commit/b4cb116397975785737798a9efdf43f9bef1f69c was added because a misunderstanding on my side of how the django permission system works.
The permissions are already cached and well handled by django so we don't really need to have those methods, which are buggy and don't work well, I just found out that changin the group

[2021-08-04 02:17] #266 closed

[2021-08-09 16:56] ManishShah120 opened #268 "[BUG] `FilterSerializerByOrgManaged` produces an error when the `organization` field is set to `read_only`"
https://github.com/openwisp/openwisp-users/blob/4bb0310eaefc75006bd802100d36a09a1fb9af9b/openwisp_users/api/mixins.py#L141-L145

When the mixin `FilterSerializerByOrgManaged` is used to filter the `organization` field in a serializer fields, if the field is set to `read_only`, then no `queryset` attribute is found in `PrimaryKey`, due to which it raises an `AttributeError` error as `'NoneType' obj

[2021-08-11 19:05] nemesisdesign opened #270 "[feature] Create a reusable organization filter using select2 and autocomplete"
The list of organization accessible to a superadmin user can be potentially very large, this can slow down page loading in all list pages which have a filter by organization.

For this reason we should look for a solution which loads the options asynchronously.

It looks like this is what we need: https://pypi.org/project/django-admin-autocomplete-filter/.

We already have an organization filter w

[2021-08-12 17:24] nemesisdesign opened #282 "[change] Turn organization fields into autocomplete/select2 fields"
The organization fields should be turned into autocomplete/select2 fields .

[2021-08-13 17:26] pandafy opened #272 "[bug] New filters breaking tests"
https://github.com/openwisp/openwisp-users/blob/08c24f303cff77baa86dc3ddf80fa4099afa77e1/openwisp_users/tests/test_admin.py#L1721-L1750

The above test has become flaky after inclusion of new filters.
The underlying HTML elements differs when number of filters changes (>4), this makes the test fail in different modules.

Example:
The [build is falling](https://github.com/openwisp/openwisp-radius/r

[2021-08-16 17:45] #272 closed

[2021-08-19 19:40] #268 closed

[2021-08-25 16:59] nemesisdesign opened #276 "[bug] Add permission to view organizations to operator"
Add permission to view organizations to operator (otherwise they cannot see their own organization in select2 autocomplete fields).

[2021-08-27 19:51] nemesisdesign opened #277 "[feature] Provide confirm email success page"
Currently after confirming their email addresses, new users get redirected to a login form which if used doesn't take anywhere.

This could be confusing for end-users.

In order to not slow down the new release further we can opt for a solution which should be easy: provide a view which shows a page with the  which just shows the success message and says "you can safely close this window".

Then w

[2021-09-01 02:09] #277 closed

[2021-09-18 14:55] harsh-9in commented on #276
hi can i work on this issue ?

[2021-09-18 16:43] nemesisdesign commented on #276
Go for it! If you have questions please reach us at https://gitter.im/openwisp/general.

[2021-09-26 19:21] nemesisdesign commented on #261
I think this can be closed for now as it's not really needed.

[2021-09-27 11:14] codesankalp opened #280 "[deps] Add support for django 3.2 and django 4.0 alpha"
Let's make sure this module can run with Django 3.2 and Django 4.0 alpha.

[2021-10-01 12:19] pandafy commented on #276
Hey @harsh-9in are you still working on this? If you are stuck, feel free to ask for help.

[2021-10-01 17:44] #163 closed

[2021-10-01 18:16] nemesisdesign opened #281 "[feature] MultitenantAdminMixin: filter by the organization of the object if obejct exists"
We may be able to restrict the queryset of fields which relate to other models so that only objects that relate to the organization of the parent are shown.

We have to be careful in handling different cases:

- Normal django admin change/add pages (new objects don't have any org set so it can't be done)
- Inlines (maybe we can implement it here too but we should provide a way to disable it if nee

[2021-10-04 12:33] pandafy commented on #281
On changing the organization of the object in the change form, the options for the choice field should also get updated. This will require creating an internal API endpoint for django admin.

[2021-10-12 12:00] codesankalp opened #283 "[ci] Add python 3.8 and python 3.9, remove python 3.6"
Add python 3.8 and python 3.9, remove python 3.6 from GitHub actions testing.

Fix any bug that may appear.

[2021-10-14 18:30] nemesisdesign opened #284 "[bug/security] Org managers can escalate themselves to superusers"
**Expected behavior:** org manager (non superuser) should not be able to edit permissions, nor flag themselves or others are superusers.

**Actual behavior**: org manager (non superuser) are able to flag themselves or others are superusers.

This is a regression, this was working fine before, but for some reason, the user permission section in the user management admin page got duplicated and the

[2021-10-14 22:38] nemesisdesign opened #285 "[feature] Use HTML template to send email confirmation"
Depends on https://github.com/openwisp/openwisp-utils/issues/259.

According to [django-allauth docs](https://django-allauth.readthedocs.io/en/latest/advanced.html#sending-email), we can send the email confirmation message using HTML.

We should do so and use the same HTML design which will be defined in openwisp-utils, so that communications via email to users will have a consistent look.

[2021-10-18 22:00] nemesisdesign commented on #280
Go for it! Look at here to get an idea of what needs to be done:

- https://docs.djangoproject.com/en/3.2/releases/3.2/
- https://docs.djangoproject.com/en/dev/releases/4.0/
- https://github.com/openwisp/openwisp-utils/pull/258

[2021-10-18 22:10] #283 closed, assigned to nobody

[2021-10-19 03:12] yashikajotwani12 commented on #280
Okay!! I would start working on upgrading django-x509, and would also ask @pandafy to avoid working on the same thing. Thank you!

[2021-10-19 03:13] yashikajotwani12 commented on #280
Thank you so much.

[2021-10-19 06:08] nemesisdesign commented on #280
No worries he'll be doing only openwisp-users for now.

[2021-10-26 00:23] nemesisdesign opened #291 "[bug] REST API errors while opening API Docs"
Follow up of https://github.com/openwisp/openwisp-users/pull/264.

Errors like the following appear in the development server output when opening the browser to: http://localhost:8000/api/v1/docs/

[code]

[2021-10-28 00:18] nemesisdesign opened #292 "[deps] Add support for django 4.0.x"
Let's make sure this module can run with Django 4.0.

We should probably address https://github.com/openwisp/openwisp-users/issues/178.

[2021-10-28 00:43] nemesisdesign opened #293 "[ux/i18n] User API serializer strings need to be improved and translated"
The wording used in https://github.com/openwisp/openwisp-users/blob/master/openwisp_users/api/serializers.py for some API error messages are unusual and need to be improved to be more consistent with what is used in the rest of the application and in django.

The messages also need to be translated (we can use google translate for that) because some of those messages will be shown to the users in

[2021-11-12 15:13] #293 closed

[2021-11-12 20:53] #285 closed

[2021-11-26 14:56] #292 closed

[2021-11-26 15:02] nemesisdesign commented on #178
Closed by #298.

[2021-11-26 15:02] #178 closed

[2021-11-26 20:23] #261 closed

[2022-01-02 15:21] DavidMeu opened #302 "Error migrating extended openwisp_users app"
Installing `openwisp-ipam` app:
`git+git://github.com/openwisp/openwisp-ipam@master#egg=openwisp_ipam`
Running `./manage.py makemigrations` receiving the following errors:

[code]

[2022-01-02 15:45] DavidMeu commented on #302
Resolved by:
https://github.com/openwisp/openwisp-users/pull/298#pullrequestreview-816283419

I would also suggest to add it here:
https://github.com/openwisp/openwisp-ipam/blob/master/tests/openwisp2/sample_users/models.py

[2022-01-02 15:45] #302 closed

[2022-01-05 14:05] AbhigyaShridhar commented on #270
@nemesisdesign May i start working on this?

[2022-01-05 16:53] nemesisdesign commented on #270
I am not sure whether this is the right issue to start practicing on, I suggest starting with something different, easier. Come to https://gitter.im/openwisp/development so we can coordinate.

[2022-01-15 21:05] atb00ker opened #303 "[bug] token endpoint is different"
The [token endpoint](https://github.com/openwisp/openwisp-users/blob/master/openwisp_users/api/urls.py#L49) has `/user/`, rest of all of them have `/users/`.

I think this is a mistake, need to verify and fix.

[2022-01-15 21:05] atb00ker commented on #303
@nemesisdesign should we fix it now? I fear some people must be using it already! :smile:

[2022-01-17 13:29] nemesisdesign commented on #303
@atb00ker it's definitely a mistake and we need to fix it, thanks for reporting! :+1:

[2022-01-18 09:16] ashutosh887 commented on #303
@nemesisdesign
Please assign this Issue to me!

[2022-01-18 13:12] atb00ker commented on #303
@ashutosh887 you don't need to wait for an assignment, please feel free to start working on it! 😄

[2022-01-22 17:14] ashutosh887 commented on #303
Sure @atb00ker
I'm working on it

[2022-01-26 16:33] pandafy commented on #257
In new theme of OpenWISP, there is a button inside user widget. I believe this can be closed.

![Screenshot from 2022-01-26 22-01-55](https://user-images.githubusercontent.com/32094433/151205263-4d04fc3c-cc40-454e-8732-6aa820335d3e.png)

[2022-01-26 17:11] nemesisdesign commented on #257
@pandafy the link to change the password is to change your own password, while the issue deals with the link to change the password of any user.

[2022-01-26 17:42] EasyNetDev commented on #257
Hi @pandafy, check my initial post. As @nemesisdesign said, is about the password for any user when you are administrator, not the password for the user itself.

[2022-01-26 18:15] pandafy commented on #257
Thanks for clarification Federico and Adrian. I completely misunderstood the issue.

[2022-02-06 06:19] aagman945 commented on #291
Hey I think this is because of
`if app_settings.API_DOCS:
    schema_view = get_schema_view(
        openapi.Info(**app_settings.API_INFO),
        public=True,
        permission_classes=(
            permissions.AllowAny if settings.DEBUG else permissions.IsAuthenticated,
        ),
    )`
in openwisp_utils/api./urls.py , if `DEBUG=False`, then this error won't occur.

[2022-02-09 05:58] aagman945 commented on #240
@nemesisdesign Where should we document the auth token, imo we should show it in navbar dropdown menu.

[2022-02-09 14:10] nemesisdesign opened #337 "[chores] Centralize ProtectedApiMixin logic"
There's pretty much almost the same logic scattered around in different openwisp modules: https://github.com/search?q=org%3Aopenwisp+ProtectedApiMixin&type=code.

We should create a reusable class here.

[2022-02-15 13:50] #291 closed

[2022-02-15 14:39] #303 closed

[2022-02-15 15:22] #276 closed

[2022-02-15 15:36] nemesisdesign commented on #257
This is solved in the latest version of openwisp-utils:

![Screenshot from 2022-02-15 12-36-11](https://user-images.githubusercontent.com/841044/154095318-5f219ad1-35fc-469d-8c74-7c7b00f3e900.png)

[2022-02-15 15:36] #257 closed

[2022-02-22 18:53] pandafy commented on #262
I am no longer able to replicate this issue locally. The fix proposed in #306 by @Aryamanz29 solves this issue but uncovered the underlying problem: an organization owner cannot exist if user does not exist.

I will re-open this issue if it occurs again.

[2022-02-22 18:53] #262 closed

[2022-03-08 14:52] #106 closed

[2022-03-08 20:37] nemesisdesign opened #312 "[docs] Update screenshots"
Let's update the screenshots to reflect the latest versions of the themes.

[2022-03-16 18:48] #312 closed

[2022-03-19 13:07] #58 closed

[2022-05-04 03:54] mfoxworthy opened #316 "[feature] MFA support"
My company is seriously looking at this as a potential configuration management platform and a huge consideration is security. We usually don't consider products that don't provide SAML or MFA. I love this platform so I want to see it be successful. This would be a huge feature.

I read about https://github.com/MicroPyramid/django-mfa

I am not a Django expert but I am willing to help integrate th

[2022-05-04 20:03] nemesisdesign commented on #316
@mfoxworthy it's probable that you can implement that in your own project without touching OpenWISP Users.

Django, the framework OpenWISP is built with, has the concept of pluggable apps. Each OpenWISP Module is a django app.

We implemented [SAML in OpenWISP RADIUS](https://openwisp-radius.readthedocs.io/en/latest/user/saml.html) for allowing to authenticate in captive portals using SAML, in tha

[2022-05-05 08:30] okraits commented on #316
We use SAML via https://github.com/pennersr/django-allauth for Single-Sign-On with Keycloak. So we basically did what @nemesisdesign described.

[2022-05-05 22:38] mfoxworthy commented on #316
We are very new with Django so the learning curve is steep. But, I understand what you're saying. It's just another Django app. We are slowly coming up to speed so sorry for dumb requests. :)

[2022-05-05 22:38] #316 closed

[2022-05-05 22:39] mfoxworthy commented on #316
Thanks for the reference! I will certainly be looking at that option.

[2022-06-17 13:01] pandafy opened #319 "[bug] `FilterSerializerByOrganization` filters fields without organization"
`FilterSerializerByOrganization` filters queryset of all related fields using the `organization_lookup`. But, it might be possible that a model  does not have relation to `Organization` (not even an indirect one, e.g. [WiFiClient in openwisp-monitoring](https://github.com/openwisp/openwisp-monitoring/pull/382#discussion_r898221497)).

We should allow to exclude fields from the organization filteri

[2022-06-29 14:59] pandafy opened #322 "[enhancement] Add a method to the User to invalidate organization cache"
Add a method in the User model that allow invalidation the organizations cache of the user.

**Possible Solution**

[code]

Then we can use this method in the `openwisp_users.apps.OpenwispUsersConfig`:
https://github.com/openwisp/openwisp-users/blob/09a617e5b7b56836a4d45893a0865fa19a929d52/openwisp_users/apps.py#L118-L135

[2022-07-08 15:47] nemesisdesign commented on #270
The new autocomplete filter feature added in https://github.com/openwisp/openwisp-utils/pull/303 can work for this task too!

The current filter doesn't show up if there's only one organization, that seems good, so we should maintain this behavior if possible, we should check whether the user has access to at least 2 orgs and show the filter only in that case.

We have to create a reusable base cl

[2022-07-22 11:59] okraits commented on #238
This would be very useful!

@nemesisdesign @pandafy
So now only the admin integration is missing, right?

[2022-07-22 14:55] okraits opened #324 "[bug] User in 2 organizations sees his user listed twice if not superuser"
I have the following situation:

* 2 organizations A and B:

![grafik](https://user-images.githubusercontent.com/5543887/180463765-d460da51-7cb4-47ac-bb11-259fd24612fc.png)

* An user `org_admin` who is admin in both organizations:

![grafik](https://user-images.githubusercontent.com/5543887/180464422-7806402c-f490-4a8a-8b64-c6a51caa6956.png)

* The superuser `admin` sees the following users:

![g

[2022-07-22 18:31] nemesisdesign commented on #238
Yes.

[2022-09-16 09:31] nemesisdesign opened #325 "[change] Administrator group should not have permission to change organization owner"
Non superadmins should not have permission to change the organization owner from the Organization change page, they should only have view permission.

It would be great if we can improve the readonly result of this part to show the name of the user, because right now in readonly mode the name of the org is shown instead.

[2022-09-22 11:20] pandafy commented on #325
@nemesisdesign only existing owners can change owner for their organization.

[2022-09-22 11:31] nemesisdesign commented on #325
Ah ok great. Can we find a way to show this in a more user friendly way?

[2022-09-22 11:54] pandafy commented on #325
![Screenshot from 2022-09-22 17-16-01](https://user-images.githubusercontent.com/32094433/191739837-cec75cef-33b8-4b46-ad37-b7f39ba081c9.png)
@nemesisdesign please check the code for string representation of OrganizationUser object below.

https://github.com/bennylope/django-organizations/blob/426be2ac02a60af7c00cdcf538decb5b75bd0b59/src/organizations/base.py#L278-L293

It uses 'user.get_full_name

[2022-09-23 15:39] nemesisdesign commented on #282
Closing in favour of https://github.com/openwisp/openwisp-users/issues/270.

[2022-09-23 15:39] #282 closed

[2022-09-25 16:41] nemesisdesign opened #327 "[bug] Cache invalidation for org owner does not seem to work when owner is changed"
I found another bug while debugging https://github.com/openwisp/openwisp-users/issues/325.

Here's how I can replicate it:

- log in as a super administrator
- have some staff user (non superuser) be administrator of an org, let's call this orgadmin
- if you now open a new incognito window, then log in as orgadmin and go to the org page, you should see the possibility of changing the owner
- go ba

[2022-09-25 16:42] nemesisdesign commented on #325
I found another bug while testing the patch for this issue: https://github.com/openwisp/openwisp-users/issues/327.

[2022-10-07 11:17] #327 closed

[2022-10-11 09:09] clutch2sft opened #329 "[change] API /users/organization endpoint POST doesn't return organization ID when org already exists"
Current Behavior:

When using POST to set a new ORG in OW and the ORG already exists in OW we get back:

`{
  "slug": [
    "organization with this slug already exists."
  ]
}`

Expected behavior:

`{
  "slug": [
    "organization with this slug already exists."
  ]
  "org_id: [
     "blahblahblahblah"
  ]
}`

[2022-10-14 14:39] nemesisdesign commented on #322
@Aryamanz29 the second part of this issue is missing from your PR, please can you proceed?

I am referring to:

[2022-10-17 05:35] Aryamanz29 commented on #322
@nemesisdesign  I have already used this method in `openwisp_users.app.OpenwispUserConfig`, see here : https://github.com/openwisp/openwisp-users/pull/330/files#diff-e7dc19a2f4b3dc4fd06892a0e23b73cae8c005bc2a3326fe0990ff0f1850e509R162-R163

[2022-10-17 14:44] #322 closed

[2022-11-04 16:29] pandafy opened #332 "[feature] Update MultitenantRelatedOrgFilter to use the Autocomplete filter"
In https://github.com/openwisp/openwisp-users/pull/331, we updated the `MultitenantOrgFilter` to use the `AutoCompleteFilter` from [django-admin-autocomplete-filter](https://pypi.org/project/django-admin-autocomplete-filter/). We left the `MultitenantOrgFilter` in that PR due to the complexities involved in querying the related field of the object. I encountered there two issues while testing the